@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


:root{
    --pink: #DE5D83;
    --black: #101116;
    --gray: #bebebe;
    --light-gray: #d9d9d9;
    --comment-box: #171B27;
    --comment:#555D68;
    --comment-date:#8A8A8A;
    --warning:#E50914;
    --yellow:#EEE62F;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: var(--comment-box);
}
::-webkit-scrollbar-thumb{
    background: var(--comment);
}


a{
    text-decoration: none;
}
i{
    cursor: pointer;
}
li{
    list-style-type: none;
}
img{
    cursor: pointer;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Chỉ ẩn overflow ngang */
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #0B1118;
    z-index: -2;

}

.container_header{
    width: 100%;
    height: 100vh;
    z-index: 55;
}
.container_header .header{
    width: 100%;
    height: 70px;
    padding: 2rem 10%;
    z-index: 55;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

.header .logo h1{
    color: var(--warning);
    font-size: 2.4rem;
    cursor: pointer;
    font-family: 'Lemon',cursive;
}
.navBar .nav-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

.nav-items .list a.active {
    border-bottom: 2px solid var(--warning);
}

.navBar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.navBar ul li a{
    color: #fff;
    font-size: 1.15rem;
    font-weight: 600;
    transition: color 0.25s ease-in-out;
    -webkit-transition: color 0.25s ease-in-out;
    -moz-transition: color 0.25s ease-in-out;
    -ms-transition: color 0.25s ease-in-out;
    -o-transition: color 0.25s ease-in-out;
}
.navBar ul li a:hover{
    color: var(--warning);
}

.nav-items li {
    position: relative;
    margin: 0 1.5rem;
}


.search_user {
    position: relative;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.search_user input {
    padding: 5px 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    background: rgb(255, 255, 255, .3);
    color: #fff;
    margin-right: 20px;
    transition: background 0.3s;
}


.search_user input::placeholder {
    color: #fff;
}

.search_user img {
    width: 23px;
    height: 23px;
    border-radius: 50%;
}

.search_user .search {
    position: absolute;
    width: 320px;
    height: 270px;
    /* border: 1px solid #fff; */
    right: 0;
    top: 40px;
    z-index: 99999;
    overflow-y: auto;
}

.search_user .search i {
    font-size: 90% !important;
}

.search_user .search::-webkit-scrollbar {
    width: 5px;
    background: rgb(255, 255, 255, .3);
    border-radius: 5px;
    visibility: hidden;
}

.search_user .search::-webkit-scrollbar-thumb {
    width: 5px;
    background: rgb(255, 255, 255, .4);
    border-radius: 5px;
    visibility: hidden;
}

.search_user .search:hover::-webkit-scrollbar {
    visibility: visible;
}

.search_user .search:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

.search_user .search .card1 {
    position: relative;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 3px 0px;
    text-decoration: none;
    display: none;
    /* border: 1px solid white; */
    /* z-index: 100000; */
    /* transition: background 0.3s; */
}

.search_user .search .card1::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255, .1);
    backdrop-filter: blur(5px);
    border-radius: 5px;
    z-index: -1;
}

.search_user .search .card1 img {
    width: 28px;
    height: 90%;
    border-radius: 2px;
    margin-left: 8px;
}

.search_user .search .card1 .cont {
    margin-left: 10px;
    color: #fff;
}

.search_user .search .card1 .cont h3 {
    font-size: 13px;
    line-height: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 250px;
}

.search_user .search .card1 .cont p {
    font-size: 10px;
    color: rgb(255, 255, 255, .8);
}

.search_user .search .card1 .cont span {
    background: yellow;
    color: #000;
    padding: 0px 3px;
    margin: 0px 5px 0px 5px;
    font-weight: 500;
}



.navBar .user i{
    font-size: 1.3rem;
    color: #fff;
    transition: color 0.25s ease-in-out;
    -webkit-transition: color 0.25s ease-in-out;
    -moz-transition: color 0.25s ease-in-out;
    -ms-transition: color 0.25s ease-in-out;
    -o-transition: color 0.25s ease-in-out;
}

.navBar .user i:hover{
    color: var(--warning);
}

.navBar .close-btn i{
    font-size: 2.4rem;
    color: #fff;
    position: absolute;
    top: 2rem;
    right: 3rem;
    display: none;
}

.header .navBar .open-btn{
    position: absolute;
    right: 4rem;
    top: 1.5rem;
    color: #fff;
    font-size: 2rem;
    display: none;
}
.feature {
    position: relative;
    min-height: 100vh; 
    width: 100vw; 
    overflow: hidden;
}

.feature__bg {
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%; 
    overflow: hidden; 
}


.feature__bg--video {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(1.5);
    object-fit: cover;
    z-index: -1;
    /* overflow: hidden; */
}


.feature-content {
    position: absolute;
    bottom: 5%;
    left: 5%; 
    transform: none; 
    text-align: left; 
    width: 80%; 
    padding: 2rem;
    z-index: 1;
    color: white;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.7); 
}

h1.movie-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #f8f9fa;
    letter-spacing: 1px;
    line-height: 1.2;
}


/* METAAAAA-------------------------- */

.meta {
    display: flex;         
    flex-wrap: wrap;    
}

.movie-meta-item {
    white-space: nowrap;    /* không cho từng mục xuống dòng */
}

.meta {
    overflow-wrap: break-word; /* Cho phép xuống dòng cho các từ dài */
    display: inline-flex;    
}




.movie-meta {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: #ced4da;
}

.movie-description {
    font-size: 1.1rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
    color: #f1f1f1;
}

h5.movie-content{
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #f8f9fa;
    letter-spacing: 1px;
    line-height: 1.2;
}

.movie-plot-short, .movie-plot-full{
    color: #ced4da; 
}

.buy-btn {
    font-size: 0.9rem;
    padding: 0.3rem 1.5rem;
    color: white;
    background-color: #e50914; /* Màu nút "Mua vé" giữ nguyên */
    border: none;
    border-radius: 50px;
    text-transform: uppercase;
    box-shadow: 0px 4px 10px rgba(229, 9, 20, 0.5);
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 1rem;
}

.buy-btn:hover {
    background-color: #c82333;
    transform: scale(1.05); 
}

/* .info-btn{
    font-size: 0.8rem;
    border-radius: 50px;
    text-transform: uppercase;
    margin-top: 1rem;
    color:#ced4da;
    font-weight: bold;
} */

.feature__bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.7)); /* Chỉ giữ hiệu ứng mờ dần trên video để dễ nhìn phần chữ */
    z-index: 0;
}

.video-onl {
    position: absolute; 
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
}

.video-onl iframe {
    position: absolute;
    top: 0;
    left: 0; 
    height: 100vh; 
    object-fit: cover; /* Đảm bảo video cover toàn bộ */
}


/* Age------------------ */
.movie-age {
    display: inline-block;
    padding: 0.5rem;
    border-radius: 5px;
    color: white;
    font-weight: bold; 
    font-size: 0.9rem;
}



.movie-age[data-age="p"] {
    background-color: #579b41;
    text-transform: uppercase;
    padding: 2.5px 10px;
}

.movie-age[data-age="k"] {
    background-color: #006ee6;
    text-transform: uppercase;
    padding: 2.5px 10px;
}

.movie-age[data-age="13+"] {
    background-color: #ddbc3f; 
}

.movie-age[data-age="16+"] {
    background-color: #e88021;
}

.movie-age[data-age="18+"] {
    background-color: #9b2020;
}


/* -------------------------- */


.movie-plot-short {
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline;
    max-width: 400px;  
}

.movie-plot-full {
    display: none;
}

.toggle-text {
    color: rgb(192, 194, 59);
    cursor: pointer;
    display: inline; 
    font-size: 1rem;
    margin-left: 5px;
    text-align: right;
}


.movie-desc {
    font-style: italic;
    font-size: 1.1rem;
    font-weight:lighter;
}



.movie-meta-item {
    font-weight: bold;
    color: #1f1e1e; 
    padding: 0.2rem 0.5rem; 
    border-radius:75px; 
    background-color: rgba(255, 255, 255, 0.596);
    font-size: 0.95rem;
    
}

.movie-meta-separator {
    color: #888; 
    font-weight: normal;
    margin: 0 5px;
}

/*INFO WRAP ------------- */
.info-wrap {
    z-index: 2;
    position: relative;
}

.more-info {
    /* display: none; */
    margin-top: 1rem;

    
}


.info-item {
    margin-bottom: 1rem; 
}

.info-item h5 {
    font-size: 1rem;
    font-weight: 600; 
    color: #f8f9fa; 
    margin-bottom: 0.5rem;
}

.info-item p {
    font-size: 0.9rem;
    color: #ced4da; 
    margin: 0;
}


.info-wrap {
    z-index: 2;
    position: relative;
    padding: 20px; 
    border-radius: 12px; 
    margin-top: 20px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
    background: linear-gradient(145deg, #1a1f25, #262b2f);
}

h5.movie-content{
    color: var(--warning);
}

.info-item {
    margin-bottom: 1.5rem;
}

.info-item h5 {
    font-size: 1.1rem;
    font-weight: 600; 
    margin-bottom: 0.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); 
    padding-bottom: 0.5rem; 
   
}

.info-item p {
    font-size: 0.95rem;
    color: #f1f1f1; 
    margin: 0;
}

.item-last{
    margin-bottom: 1px;
}

/*FOOTER ---------------------------------------------------- */

.footer{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3% 5% 3% 5%;
    /* background-color: #171B27; */
    color: #fff;
    border-top: 5px solid #171B27;
   margin-top: 2rem;
}
.footer .footer-advise {
    display: flex;
    flex-direction: column;
    width: 40%;
}
.footer .footer-advise ul{
    display: flex;
    margin-left: -5%;
}

.footer-advise ul li {
    display: inline-block;
    margin: 0 10px 10px 0;
}

.footer-advise ul li a {
    padding: 0 10px 5px 0;
    font-weight: bold;
    color: #fff;
    transition: color 0.25s ease-in-out;
    -webkit-transition: color 0.25s ease-in-out;
    -moz-transition: color 0.25s ease-in-out;
    -ms-transition: color 0.25s ease-in-out;
    -o-transition: color 0.25s ease-in-out;
}

.footer-advise ul li:hover a {
    color: var(--warning);
}

.footer-advise .advise-text {
    margin-top: 10px;
}

.footer-advise .advise-text p {
    margin-top: 5px;
    text-align: justify;
}

.footer .footer-social{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}

.footer-social i{
    width: 35px;
    height: 35px;
    margin: 0 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: var(--warning);
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

.footer-social i:hover{
    background-color: var(--black);
    color: var(--warning);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.footer h4{
    margin-bottom: 20px;
}

.footer .moblie-app{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.footer .moblie-app img {
    width: 40%;
}




@media (max-width: 768px) {
    h1.movie-title {
        font-size: 2rem;
    }

    .movie-meta {
        font-size: 1rem;
    }

    .movie-description {
        font-size: 1rem;
    }

    .btn {
        font-size: 1rem;
        padding: 0.6rem 1.5rem;
    }

    .movie-age {
        padding: 2px 5px;
        font-size: 0.7rem; 
    }

    

    .movie-meta-item, .movie-meta-separator {
        flex: 1 1 100%;
        text-align: left;
        margin-bottom: 0.5rem; 
    }

    .movie-meta-separator {
        display: none; 
    }
    
}


/* for Phone: width < 740px */
@media only screen and (max-width: 767px) {
    .feature__bg--video {
        transform: scale(5);
      
    }

    h1.movie-title{
        margin-top: 5px;
        font-size: 1.5rem;
    }

    .movie-meta-item{
        font-size: 0.7rem;
    }

    .movie-desc{
        font-size: 0.9rem;
    }

    .buy-btn{
        font-size: 0.8rem;
    }

   

}

/* for Tablet: >= 740 & < 1024 */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .feature__bg--video {
        transform: scale(3);
      
    }

    .info-btn{
        font-size: 0.8rem;
    }

    .buy-btn{
        font-size: 0.8rem;
    }
}

/* for PC: >= 1024 */
@media only screen and (min-width: 1024px) {

}

@media(max-width:1200px){
    .container .header{
        justify-content: space-evenly;
    }
    .header .logo {
        position: relative;
        left: -32%;
    }
    .header .navBar .nav-items{
        display: none;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        flex-direction: column;
        justify-content:space-around ;
        align-items: center;
        background-color: rgba(20, 20, 20, 0.5);
        backdrop-filter: blur(10px);
        transition: top 1s ease;
        -webkit-transition: top 1s ease;
        -moz-transition: top 1s ease;
        -ms-transition: top 1s ease;
        -o-transition: top 1s ease;
    }
    .header .navBar .list{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: -15%;
    }
    
    .header .navBar .list a{
        font-size: 1.35rem;
    }
    .navBar .list a:hover{
        color: var(--comment-box);
    }
    .header .navBar .list .close-btn i{
        display: block;
    }
    .header .navBar .open-btn{
        display: block;
    }
    .navBar .user{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 55;
        top: -38%;
    }

    .search_user .search {
        position: absolute;
        width: 320px;
        height: 270px;
        /* border: 1px solid #fff; */
        right: -70px;
        top: 40px;
        z-index: 99999;
        overflow-y: auto;
    }
    .navBar .user li i{
        font-size: 1.5rem;
    }
    .navBar .user li i:hover{
        color: var(--comment-box);
    }

    .footer{
        text-align: center;
        gap: 2rem;
    }
}

@media(max-width: 480px){
    .header .logo {
        position: relative;
        left: -5%;
    }
    .header .logo h1{
        font-size: 1.8rem;
    }
    .header .navBar .open-btn{
        display: block;
        top: 17%;
        right: 10%;
    }
    .header .navBar .open-btn i{
        font-size: 1.5rem;
    }
    .header .navBar .list a{
        font-size: 1.0rem;
    }
    .search_user input {
        width: 150px;
        padding: 5px;
        font-size: 10px;
    }
    .search_user .search {
        position: absolute;
        width: 230px;
        height: 200px;
        /* border: 1px solid #fff; */
        right: -70px;
        top: 40px;
        z-index: 99999;
        overflow-y: auto;
    }
    .search_user .search .card1 img {
        width: 20px;
        height: 80%;
        border-radius: 2px;
        margin-left: 8px;
    }
    
    .search_user .search .card1 .cont {
        margin-left: 10px;
        color: #fff;
    }
    
    .search_user .search .card1 .cont h3 {
        font-size: 10px;
        line-height: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 200px;
    }
    
    .search_user .search .card1 .cont p {
        font-size: 8px;
        color: rgb(255, 255, 255, .8);
    }
    
    .search_user .search .card1 .cont span {
        background: yellow;
        color: #000;
        padding: 0px 1px;
        margin: 0px 2px 0px 7px;
        font-weight: 500;
    }
        
    .navBar .user li i{
        font-size: 1.0rem;
    }

    .footer{
        position: relative;
        display: flex;
        flex-direction: column;
        font-size: 11px;
    }
    .footer .footer-advise {
        width: 100%;
        margin-top: 5%;
        justify-content: center;
        align-items: center;
    }
}