/*Google Poppins Font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
/* Cấu hình chung */
body {
    background: #0B1118;
    color: #fff;
    font-family: 'poppins', sans-serif;
}

h2 {
    color: #DE5D83;
}

/* CSS cho thanh điều hướng dọc */
.sidebar {
    position: fixed; /* Cố định thanh điều hướng */
    top: 0;
    left: 0;
    width: 200px;
    /* height: 100%; Chiều cao bằng 100% màn hình */
    padding-top: 20px;
    box-shadow: 2px 0 5px #DE5D83;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin-bottom: 20px;
}

.sidebar ul li a {
    display: block;
    color: #DE5D83;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
}

.sidebar ul li a:hover {
    background-color: #DE5D83;
    color: #fff;
    border-radius: 5px; /* Làm mềm các góc khi hover */
}
.sidebar .active{
    background-color: #DE5D83;
    color: #fff;
    border-radius: 5px;
}
/* Nội dung chính được đẩy sang phải để không bị thanh điều hướng che khuất */
.main-content {
    margin-left: 220px; /* Đẩy nội dung chính sang phải */
    padding: 20px;
}

.main-content section {
    margin-bottom: 40px;
}
