/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

/* dark */
body{
    background-color: rgb(0, 0, 0);
}

/* .navbar{
    position: sticky;
    top: 0;
} */

.movie-list-wrapper{
    position: relative;
    overflow: hidden;
}

/* light */
/* .card-movie{
    padding: 0 !important;
	border-radius: 10px;
	box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
    transition: all 1s ease-in-out;
} */

/* dark */
.card-movie{
    padding: 0 !important;
	border-radius: 10px;
    border: #747070;
    transition: all 0.6s ease-in-out;
    background-color: rgb(37, 37, 37);
    overflow: hidden;
}


.card-movie:hover{
    transform: scale(1.06);
}

.card-title{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    max-width: 100%;  /* or a specific width like 150px */
    display: block;    /* Add this line */
    
}
.card-title, .movie_info{
    color: rgb(199, 195, 195);
}

.card-movie img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 300px;
    object-fit:cover;
    width: 100%;
    /* cursor:pointer; */
}




.movie_genre{
    color: #6d6b6b;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    max-width: 100%;  /* or a specific width like 150px */
    display: block;    /* Add this line */
    margin-top: 0px;
    margin-bottom: 10px;
}

.movie_star{
    padding-top: 5px;
    margin-left: 10px;
    
    
}
.movie_info{
    color: #646363;
    padding-left: 13px;
    
}

.movie_info i{
    font-size: 13px;
}
.card-title{
    cursor:pointer;
}

.btn-buy{
    background-color: #db0510;
    font-size: 0.9rem;
}


/* ------------ */

/* .status-container {
    background-color: rgb(36, 36, 36);
    padding: 1rem 2rem;
} */

/* .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
} */


/* -------------------- */


.status-container {
    padding: 1rem 2rem; /* Khoảng cách bên trong (top/bottom và left/right) */
    border-radius: 50px; 
    margin-top: 2rem; /* Khoảng cách phía trên */
    text-align: center; /* Căn giữa các mục */
    display: flex;
    justify-content: center;
    align-items: center;
}

.status-nav {
    list-style: none; 
    padding: 0;
    display: flex;
    justify-content:center;
    width: 100%; /* Chiếm hết chiều ngang container */
    max-width: 700px; 
    margin-bottom: 0;
    
}

.status-item {
    margin: 0 1rem; /* Khoảng cách giữa các mục */
}

.nav-link {
    color: #fff;
    padding: 0.75rem 1.5rem; /* Khoảng cách bên trong của mỗi mục */
    font-weight: 700; /* Đậm chữ */
    text-transform: uppercase; /* Viết hoa chữ */
    font-size: 1.1rem; /* Kích cỡ chữ */
    border: 2px solid #ffffff;
    border-radius: 50px;
    color: #ffffff;
    
}

.nav-link:hover {
    color: #ffffff !important; /* Giữ màu trắng cho chữ */
    border: 2px solid #e50914;
    background-color: #e50914;
}

.active {
    border: 2px solid #e50914;
    border-radius: 50px;
    color: #e50914 !important; 

}


/* --------------- */
.movie-list {
    margin-top: 1rem;
}

.card-movie {
    border: none;
    border-radius: 10px;
    background-color: rgb(37, 37, 37);
    transition: transform 0.3s;
}

.card-movie:hover {
    transform: scale(1.05);
}

.card-title, .movie_info {
    color: rgb(199, 195, 195);
}





.movie-age {
    position: absolute;
    top: 0.5rem; /* Cách từ trên xuống */
    left: 0.5rem; /* Cách từ bên trái */
    padding: 0.25rem 0.5rem; /* Khoảng cách bên trong */
    border-radius: 5px; /* Bo góc */
    color: white; /* Màu chữ trắng */
    font-weight: bold; /* Đậm chữ */
    font-size: 0.7rem;
    z-index: 1; /* Đặt lên trên các phần tử khác */
}

/* Các quy tắc khác cho movie-age nếu cần */


.movie-age[data-age="p"] {
    background-color: #579b41;
    text-transform: uppercase;
    padding: 2.5px 10px;
}

.movie-age[data-age="k"] {
    background-color: #006ee6;
    text-transform: uppercase;
    padding: 2.5px 10px;
}

.movie-age[data-age="13+"] {
    background-color: #ddbc3f; 
}

.movie-age[data-age="16+"] {
    background-color: #e88021;
}

.movie-age[data-age="18+"] {
    background-color: #9b2020;
}



@media (max-width: 768px) {
    .status-container {
        padding: 0.5rem 1rem; /* Giảm padding cho màn hình nhỏ */
    }
    
    .nav-link {
        padding: 0.5rem 1rem; /* Giảm padding trong các mục */
        font-size: 0.9rem; /* Giảm kích cỡ chữ */
    }
}